
  @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Raleway:ital,wght@0,100;0,200;0,400;0,500;0,600;0,700;0,800;1,300&display=swap');

  @font-face {
    font-family: 'Myriad Pro Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Myriad Pro Regular'), url('assets/webfonts/MYRIADPRO-REGULAR.woff') format('woff');
    }

  *{
    margin: 0;padding: 0;
    outline: 0;
    font-family: 'Montserrat', sans-serif;

  }
  ul{
    list-style: none;
    margin: 0;
    padding: 0;
  }
  a{
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
  }
  p{
    margin: 0;
    font-size: 14px;
    color: #8c8c8c;
    line-height: 16px;
  }
  h1{
    font-weight: 600;
  }
  h3{
    font-size: 30px;
    line-height: 34px;
    text-transform: capitalize;
    
  }
  h4{
    font-size: 24px;
    line-height: 24px;
    margin: 0;
  }
  h5{
    font-size: 20px;
    line-height: 20px;
  }
  .ban_btn a{
    border: 1px solid;
    padding: 10px 30px;
    color: #fff;
    text-transform: capitalize;
  }
  .d1,
  .d2,
  .d3 {
  height: 1px;
  width: 15px;
  background-color: #fff;
  }

  :root{
    --color_1: #251e1b;
    --color_2: #998675;
    --color_3: #c7b299;
    --color-4: #555555;
    --color-5: #241d1a;
    --Raleway:  'Raleway', sans-serif;
  }

  /* banner part */
    
  .banner_part{
    background: url("assets/img/banner.png") no-repeat;
    background-size: cover;
    background-position: center;
  }
  .opacity_bal{
    background: #000;
    opacity: 0.6;
  }
  /* menu part */
  a.nav-link{
    color: #fff;
    text-transform: capitalize;
    padding-bottom: 0px;
  }
  a.nav-link:hover{
    color: var(--color_2);
  } 
  .ban_con_main{
    padding: 120px 0;
  }
  .ban_con_main p{
    width: 100%;
  }
  .ban_con_main .ban_btn a{
    background: var(--color_2);
    border: none;
  }
  
    /*-----------------------------------  */

    /* service start */
  
    .service_icon img{
      height: 40px;
    }
  
    .dvr {
      height: 2px;
      width: 30%;
      background-color: #f1eee9;
    }
    .ser_details h5{
      font-family: var(--Raleway);
      text-transform: capitalize;
    }
    .service_con:hover .ser_details h5{
      color: #c7b299;
    }
    .service_con:hover .dvr{
      background: #c7b299;
    }

    /* ----------------------------------------- */


    /* idea part */
    .idea_part{
      background: #fbfaf8;
    }
    .idea_header h3{
      font-family: var(--Raleway) ;
    }
    .idea_header p{
      line-height: 20px;
      width: 65% ;
    }
    /* ----------------------------------------- */

    /* project part */
    .menu_btn .ban_btn a{
      border: 1px solid #ebebeb;
      padding: 10px 20px;
      color: #000;
      border-radius: 2px;
      margin: 0 5px;
      display: block;
    }
    .menu_btn .ban_btn a:hover{
      border: none;
      color: #fff;
      background: var(--color_2);
    }

    .proj_con{
      text-align: center;
      background: #fbfaf8;
    }
    .proj_img{
      position: relative;
    }
    .proj_overlay{
      height: 100%;
      width: 100%;
      background: rgba(0, 0, 0, 0.6);
      position: absolute;
      top: 0;
      left: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      opacity: 0;
      visibility: hidden;
      transition: 0.5s;
    }
    .proj_overlay a{
      text-align: center;
      line-height: 40px;
    }
    .proj_overlay i{
      color: #c7b299;
    }
    .proj_overlay p{
      font-family: var(--Raleway);
    }
    .proj_con:hover .proj_overlay{
      opacity: 1;
      visibility: visible; 
    }
    .port_details{
      position: relative;
    }

    .triangle-up {
      position: absolute;
      top: -14%;
      left: 5%;
      width: 0;
      height: 0;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-bottom: 10px solid #fff;
    }
    .proj_con:hover .port_details{
      background: #362f2d;
      color: #fff;
    }
    .proj_con:hover .port_details p{
      color: #fff;
    }
    .proj_con:hover .triangle-up{
      border-bottom: 10px solid #362f2d;
    }
    .proj_btn .ban_btn a{
      background: var(--color_2);
      text-transform: uppercase;
    }

    /* ----------------------------------------- */


    /* presentation part */
    .presentation_part{
      background: url("assets/img/presatation.png") no-repeat;
      background-size: cover;
      background-position: center;
      
    }
    .prestation_con_main{
      padding: 100px 0;
    }
    .video_icon .icon_play{
      height: 60px;
      width: 60px;
      border-radius: 50%;
      background: #505559;
      opacity: 0.7;
    }
    .icon_play i{
      font-size: 40px;
      line-height: 40px;
      color: #fff;
    }
    .prestation_con_main h4{
      font-family: var(--Raleway);
    }
    .prestation_con_main p{
      line-height: 26px;
    }
   
    /* ----------------------------------------- */


    /* mobile part */
    .mob_con{
      display: inline-block;
    
    }
    .mob_con h4{
      color: #555555;
    }
    .mob_con p{
      line-height: 25px;
    }
    .options ul li:before {
      content: "\f138"; /* FontAwesome Unicode */
      font-family: FontAwesome;
      display: inline-block;
      margin-right: 3%;
      background: #fff;
      color: var(--color_2);
    }
    .options ul li a{
      color: var(--color_2);
      font-size: 14px;
      line-height: 30px;
    }
    /* ----------------------------------------- */

     /* client part */
  .client_part {
    background-image: linear-gradient(to right, #291f1c , #452f24);

  }

  .client_con img {
    width: 28px;
  }
  .client_con p {
    line-height: 15px;
    text-transform: uppercase;

  }
  .client_con_main .d{
    height: 2px;
    width: 30%;
    background-color: #f1eee9;
  }
  .client_con:hover .d{
    display: none;
  }

  /* ------------------------------------------- */

  /* post part */
  .post_con{
    text-align: center;
    background: #fbfaf8;
  }
  .post_img{
    position: relative;
  }
  .post_tag{
    position: absolute;
    top: 5%;
    left: 5%;
    background: #363636;
    color: #fff;
    border-radius: 5px;
    z-index: 2;
  }
  .mon{
    background: #252525;
    color: #fff;
  }
  .post_overlay{
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.6);
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
    z-index: 1;
  }
  
  .post_con:hover .post_overlay{
    opacity: 1;
    visibility: visible; 
  }
  .post_con:hover .post_details{
    background: #362f2d;
    color: #fff;
  }
  .post_details h6{
    clear: #555555;
  }
  .post_details p{
    font-size: 12px;
    line-height: 16px;
  }
  .post_details a{
    font-size: 12px;
    color: var(--color_2);
  }
  .post_con:hover .post_tag {
    background: #c7b299;
  }
  .post_con:hover .mon {
    background: #a48d72;
  }

  .post_con:hover .post_details p{
    color: #fff;
  }
  .post_con:hover .post_details h6{
    color: var(--color_2);
  }
  .post_con:hover .triangle-up{
    border-bottom: 10px solid #362f2d;
  }
  .post_con .ban_btn a{
    background: var(--color_2);
    text-transform: uppercase;
  }
  /* ------------------------------------------- */
  /* brand part */
    .brand_part{
      background: url("assets/img/brand_bg.png") no-repeat;
      background-size: cover;
      background-position: center;
    }
    .brand_img img{
      width: 70%;
    }
  /* ------------------------------------------- */