
  @import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700&family=Open+Sans:wght@300&display=swap');


  *{
    margin: 0;padding: 0;
    outline: 0;
    font-family: 'Open Sans', sans-serif;
    
  }
  ul{
    list-style: none;
    margin: 0;
    padding: 0;
  }
  a{
    text-decoration: none;
  }
  p{
    margin: 0;
  }
  .container{
    padding: 0 8%;
  }
  :root{
    --color_1: #81c99b;
    --color_2: #81c99c;
    --color_3: #192331;
    --color-4: #bd8bbf;
    --marriweather:  'Merriweather', serif;
  }

  /* banner section stat */
  .banner_part{
    background: url("img/banner.png") no-repeat;
    padding: 60px 0 150px;
    background-size: contain;
    position: relative;
  }
  .logo_part h3{
    font-family: var(--marriweather);
    color: #fff;
    font-style: italic;
    font-weight: 600;
    font-size: 21px;
    display: inline;
    padding:  5px 0;
  }
  .cover_con{
    padding: 200px 0;
    color: #fff;
  }
  .iphone_img{
    position: absolute;
    right: 240px;
    bottom: -100px;
  }

  .iphone_img img{
    width: 500px;
    /* height: 850px; */
  }
  /* banner section end */
  /* --------------------------- */

  /* cover_details start */
    .c_detail_part{
      color: var(--color_3);
    }

    .c_detail_part .details_con p{
    font-size: 14px;
  }
  /* cover_details end */
  /* --------------------------- */


  /* box section start */
  .box_main {
    font-size: 12px;
    line-height: 20px;
  }
  .box_con, .box_con1, .box_con2, .box_img {
    height: 240px;
  }
  .box_part .upper .box_con1{
    background: #f5979c;
  }
  .box_part .upper .box_con2{
    background: #615e7d;
  }
  .more{
    font-size: 14px;
  }
  .box_part .upper .box_img{
    background: url("img/box3.png");
    
  }
  .box_part .under .box_img{
    background: url("img/big_box.png") no-repeat 100%;
    background-size: cover;
    background-position-y: 100% ;
  }
  .under .box_img p{
    max-width: 420px;
  }
  .box_part .under .box_con{
    background: var(--color_2);
  }

  /* box section end */
  /* --------------------------- */