
  @import url('https://fonts.googleapis.com/css2?family=Allerta&display=swap');

  *{
    margin: 0;padding: 0;
    outline: 0;
    font-family: 'Allerta', sans-serif;

  }
  ul{
    list-style: none;
    margin: 0;
    padding: 0;
  }
  a{
    text-decoration: none;
  }
  p{
    margin: 0;
    font-size: 12px;
    color: #242424;
  }
  h1{
    font-weight: lighter;
  }
  h6{
    font-size: 15px;
  }

  :root{
    --color_1: #5583ff;
    --color_2: #0d1935;
    --color_3: #f6f7fa;
    --color-4: #5584ff;
    --marriweather:  'Merriweather', serif;
  }

  