@media (max-width: 575.9px){
    .iphone_img {
       display: none !important;
    }
    .banner_part{
        padding: 0px!important;
    }
   .cover_con {
    padding: 50px 0 !important;
    }
   .cover_con p{
    font-size: 12px !important;
    }
   .box_con, .box_con1, .box_con2, .box_img {
        height: 170px !important;
    }
    .cover_main_part {
        padding: 30px 0 !important;
    }
    .cover_details {
        padding: 30px 0  0 !important;
    }

}
@media (min-width: 576px) and (max-width: 767.9px){
  
    .iphone_img {
        bottom: -35%!important;
        left: 41%!important;
    }
    .banner_part{
        padding: 0px!important;
      }
    .cover_con {
        padding: 50px 0 !important;
    }
    .cover_con p{
        font-size: 12px !important;
       }
   .box_con, .box_con1, .box_con2, .box_img {
    height: 170px !important;
    }
    .cover_main_part {
        padding: 30px 0 !important;
    }
    .cover_details {
        padding: 30px 0  0 !important;
    }


}
@media (min-width: 768px) and (max-width: 991.9px) {

    .iphone_img {
        bottom: -35%!important;
        left: 45%!important;
    }
    .banner_part{
        padding: 0px!important;
      }
   .cover_con {
    padding: 100px 0 !important;
   }
}

@media (min-width: 992px) and (max-width: 1199.9px) {
   
    .iphone_img {
        bottom: -20%!important;
        left: 48%!important;

    }
    .banner_part{
        padding: 0px!important;
      }
   }
@media (min-width: 1200px) and (max-width: 1399.9px) {
    .iphone_img img {
        width: 75% !important;
    }
    .iphone_img {
        right: 0% !important;
        height: 80% !important;
        bottom: 0 !important;
    }
    .banner_part{
        padding-bottom: 60px!important;
      }
}
@media (min-width: 1400px) {

}