@media (max-width: 575.9px){

}
@media (min-width: 576px) and (max-width: 767.9px){
    .iphone_img img {
        width: 35% !important;;
    }
    .iphone_img {
        bottom: -28%!important;
        right: -68%!important;
    }
    .banner_part{
        padding: 0px!important;
      }
   .cover_con {
    padding: 50px 0 !important;
   }

}
@media (min-width: 768px) and (max-width: 991.9px) {
    .iphone_img img {
        width: 50% !important;;
    }
    .iphone_img {
        bottom: -28%!important;
        right: -30%!important;
    }
    .banner_part{
        padding: 0px!important;
      }
   .cover_con {
    padding: 100px 0 !important;
   }
}

@media (min-width: 992px) and (max-width: 1199.9px) {
    .iphone_img img {
        width: 60% !important;;
    }
    .iphone_img {
        bottom: -20%!important;
        right: -15%!important;

    }
    .banner_part{
        padding: 0px!important;
      }
   }
@media (min-width: 1200px) and (max-width: 1399.9px) {
    .iphone_img img {
        width: 75% !important;
    }
    .iphone_img {
        right: 0% !important;
        height: 80% !important;
        bottom: 0 !important;
    }
    .banner_part{
        padding-bottom: 60px!important;
      }
}
@media (min-width: 1400px) {

}