
  @import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;600;700&display=swap');

*{
    margin: 0; padding: 0;
    font-family: 'Oswald', sans-serif; 
    font-weight: 400;

}
body{
    background-color: transparent!important;
}
/* menu Bar */
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
.social_icon{
    position: fixed;
    top: 30%;
    left: 0;
    z-index: 10 ;
}
.social_icon a{
    display: block;
    height: 45px;
    width: 45px;
    background-color: teal;
    text-align: center;
    line-height: 45px;
    font-size: 20px;
    color: antiquewhite ;
}

.manu_part{
    background-color:antiquewhite;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 9;
}
.alignment{
    width: 80%;
    margin: auto;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu{
    display: flex;
    /* gap: 10px; */
}
.menu li{
    position: relative;
}
.menu li a {
    display: block;
    padding: 15px;
    font-size: 18px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight:450;
}

.menu li a:hover{
    background-color: blueviolet;
    color: burlywood;
    /* font-weight:bold; */
    color:whitesmoke;
}
.drop_menu {
    background-color: aqua;
    display: none;
    position: relative;
}
.menu li:hover .drop_menu{
    display: block;
    position: absolute;
    background: rgba(229, 240, 229, 0.3);;
    z-index: 1;
    width: 100%;
    text-align: center;
}
.sub_menu{
    display: none;
    background-color: beige;
}
.drop_menu li:hover .sub_menu{
    display: block;
    position: absolute;
    background-color: red;
    width: 100%;
    text-align: center;
    top: 0;
    left: 100%;
}




/* Player formation */
.playground{
    margin: 10px; 
}
.field{
    height: 500px;
    width: 500px;
    background-image:  url(field.png);
    background-size: 100% 100%;
    margin: 0px auto ;
    position:relative;
}
.goalbar1,.goalbar2{
    background-color:beige;
    height: 30px;
    width: 150px;
    border: 3px solid black;
    margin: 0px auto;
}
.goalbar1{
    border-bottom: none; 
}
.goalbar2{
    border-top: none;
}
.player1,.player2,.player3,.player4,.player5,.player6,.player7,.player8,.player9,.player10,.player11{
    position: absolute;
    height: 45px;
    width: 40px;
    background-image: url(jercy.png);
    background-position: center;
    background-size: cover;
}
.player1{
 top:25px;
 left: 180px;
}
.player2{
 top:25px;
 right: 180px;
}
.player3{
    top: 125px;
    left: 232px;
}
.player4{
    top: 200px;
    left: 130px;
}
.player5{
    top: 235px;
    left: 232px;
}
.player6{
    top: 200px;
    right: 130px ;
}
.player7{
    bottom: 105px;
    left: 85px;
}
.player8{
    bottom: 90px;
    left: 176px;
}
.player9{
    bottom: 90px;
    right: 176px;
}
.player10{
    bottom: 105px;
    right: 85px;
}
.player11{
    bottom: 0px;
    left: 232px;
}
.footer{

    height: 100px;
    width: 100%;
    background-color: rgba(250, 235, 225, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 1px solid red;
  
    
}
.footer p{
    color: cadetblue;
}