*{
    margin: 0; padding: 0;
}
.field{
    height: 550px;
    width: 500px;
    background-color: green;
    margin: 10px auto ;
    position:relative
}
.goalbar1,.goalbar2{
    position: absolute;
    background-color:beige;
    height: 30px;
    width: 200px;
    border: 3px solid black;
    left: 150px;
   
}
.goalbar1{
    top: 0;
    border-bottom: none;
    
}
.goalbar2{
    bottom:0 ;
    border-top: none;
}
