*{
    margin: 0;padding: 0;
}

.firstline, .secondline{
    height: 250px;
    display: flex;
    justify-content: space-around;
    margin: 10px;
}

.box1{
    width: calc( 25% - 10px);
    height: 100%;
    background-color: brown;
}
.box3{
    width: calc(50% - 10px);
    height: 100%;
    background-color: aqua;
}
.firstline>div, .secondline> div{
    border: 1px solid green;
    border-radius: 5px;
}