
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600&display=swap');


  *{
    margin: 0;
    padding: 0;
    outline: 0;
    font-family: 'Montserrat', sans-serif;

  }
  ul{
    list-style: none;
    margin: 0;
    padding: 0;
  }
  a{
    text-decoration: none;
  }
  p{
    margin: 0;
    font-size: 16px;
    color: #909090;
  }
  h4{
    font-weight: 900;
    font-size: 40px;
    color: #222222;
    text-transform: uppercase;
  }
  h5{
    text-transform: uppercase;
  }

  :root{
    --color_1: #35c2f8;
    --color_2: #222222;
    --color_3: #909090;
    --color_4: #f7f7f7;
  
  }
  .d1 {
    height: 1px;
    width: 100px;
    background-color: #35b9eb;
  }
  .d2 {
    height: 100px;
    width: 5px;
    background-color: #f8f8f8;
  }
  .d3{
    height: 1px;
    width: 100%;
    background-color: #fff;
  }

  /* banner part start */
  .banner_part{
    background: url("assets/img/banner.png") no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    padding: 50px;
  }

          /* menu part  */

  .nav-link {
    font-size: 16px;
    color: #fff;
    padding-right: 20px!important;
    text-transform: uppercase;
  }
  .nav-link:hover {
    color: var(--color_1);
  }
      /* contant part */
  .ban_con_main{
    padding: 150px 0  50px;
  }

  .ban_con_main h1{
    color: #fff;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 52px;
  }
  .ban_con_main p{
    font-size: 20px;
  }

  
/* banner part end */
/* --------------------------------------------- */

/* service part start */


  .ser_details p{
    width: 85%;
    display: inline-block;
    text-align: center;
  }
/* service part end */
/* --------------------------------------------- */

/* expertise part start */
  .expert_part{
    background-color: var(--color_4);
  }

  .expert_con_main{
    width:75%; 
  }
  .expert_header p{
    width: 70%;
    display: inline-block;
  }
  
  .expert_img_part{
    width: 25%;
  }
  .expert_img_part img{
    width: 100%;
    height: 100%;
  }
 
  .expert_con .details p{
    width: 90%;
  }
  .see_btn a{
    text-transform: uppercase;
    color: #000;
    border: 1px solid #fff;
    border-radius: 50px;
    padding: 20px 40px;
    font-weight: bold;
    font-size: 14px;
    background: #fff;
  }

/* browser part end */
/* --------------------------------------------- */


/* portfolio start */
.port_con_main {
  width: 50%;
}
.port_con_main p{
  width: 90%;
}
.port_img_part {
  width: 50%;
}
.port_img_part img {
  width: 100%;
  height: 100%;
}
/* portfolio end */
/* --------------------------------------------- */

/* box section start */
.box_main .box_con img{
  width: 100%;
  height: 100%;
}
/* box section end */
/* --------------------------------------------- */

/* about start */
.about_details p {
  width: 75%;
  display: inline-block;
}
.about_img img{
  width: 100%;
}
.img_cover{
  height: 160px;
  width: 160px;
  border-radius: 50%;
  border: 7px solid #f1f1f1;
  background-color:  var(--color_1);
  display: inline-block;
}
.img_cover P{
  font-size: 15px;
  color: #fff;
  width: 70%;
  text-transform: uppercase;
}
/* about end */
/* --------------------------------------------- */

/* team part start */
.team_part{
  background-color: var(--color_4);
}
.team_image{
  height: 180px;
  width: 180px;
  border-radius: 50%;
  background-color: #000;
  display: inline-block;
}
.social_icons i{
  font-size: 40px;
  padding: 0 5px;
}
.team_details h6{
  line-height: 5px;
}
.details P{
  width: 55%;
  display: inline-block;
}
/* team part end */
/* --------------------------------------------- */

/* footer section start */
.footer_part {
  background: #000;
  
}
.footer_con p, .footer_con h4, .footer_con i {
  color: #fff;
}
.footer_con p{
  width: 80%;
  display: inline-block;
}
 .form-control{
  background: #fff;
  margin: 20px 0;
  height: 60px;
  color: var(--color_1);
  border-radius: 5px;
 }
 .form-control::placeholder, .form-floating label {
  color: var(--color_3);
  font-size: 16px;
 }

  .btn_send{
    text-transform: uppercase;
    background: var(--color_1);
    color: #fff;
    padding: 20px;
    border-radius: 40px;
    font-size: 18px;
    font-weight: 600;
    display: block;
 }
 .form-floating textarea {
  padding: 80px 0 !important;
 }
/* footer section end */
/* --------------------------------------------- */


  