  @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&family=Oswald:wght@400;700&display=swap');
  * {
    margin: 0;
    padding: 0;
    outline: 0;
    font-family: 'Open Sans', sans-serif;
  }
  ul{
    list-style: none;
    margin: 0;
  }
  a{
    text-decoration: none;
    color: black;
  }
  img{
    vertical-align: middle;
  }
  p{
    margin: 0;
  }
  h1, h2, h3, h4, h5, h6, button{
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase ; 
  }
  .fs-12{
    font-size: 13px;
  }
  .hover_img{
    display: none;
  }
  :root{
    --color_1: #0872b9 ;
    --color_2: #5bc5f4;
    --oswald: 'Oswald', sans-serif;
  }
  /* common/Helper css end */
  /* _____________________ */

  /* welcome part start */
  .wel_part{
    background: var(--color_1);
  }

  .welcome_icon li a{
    color: #fff;
    transition: 0.4s ;
  }
  .welcome_icon li a:hover{
    color: #353535;

  }
  /* welcome part end */
  /* __________________ */

  /* menu part start */
  .menu_part .navbar .nav-link{
      color: black;
  }
  .menu_part .navbar .nav-link:hover{
      color: blue;
  }
  /* menu part end */
   /* __________________ */

  /* banner part start */
   .banner_part{
    background:url("img/banner.png");
    padding: 100px 0 ;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position-y: center;
    /* background-attachment: fixed; */
   }
   .banner_part h1{
    font-weight: 800;
   }
   .banner_part p{
    font-size: 12px;
   }
   .banner_part button{
    border: 1px solid white;
    background: transparent;
    color: #fff;
    font-weight: 600;
    padding: 4px 12px;
    margin-top: 20px;
   }

   
  /* banner part end */
  /* __________________ */

  /* services part start */
  .service_part .card-body{
    background: url("img/service_bg.png");
    background-position-y: bottom;
    background-size: cover;
    border: none;
    position: relative;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: 0.4s;

  }
  .service_part .card-body:hover{
    box-shadow: 0px 5px 10px #bdbbbb ;
  }
  .service_part .card-body .img-area{
    border: 1px solid gray;
    height: 80px;
    width: 80px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -35px;
    margin: 0;
  }
  .service_part .card-body .img-area:hover{
    background-color: var(--color_2) ;
  }
  .service_part .card-body .card-title{
    margin-top: 50px;
  }
  
  /* services part end */
  /* __________________ */
  /* portfoliyo part start */
  .portfoliyo_part .card-body .img-area{
    display: inline-block;
  }


  .portfoliyo_part .custom .col-12 {
    margin: 0 !important;
    padding: 0 !important;
  }
  

  /* portfoliyo part end */
  /* __________________ */

  /* Team part start */
  .team_part .card-body .img-area{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s; 
  }

  .team_part .img-area .hover_img{
    position: absolute;
    top: 0;
    right: 0;
  }

  .team_part .card:hover .hover_img{
    display: block;
  }

  /* Team part end */
  /* __________________ */

  /* testimonial section start */

  .testim_part p{
    font-family: var(--oswald);
  }

  /* testimonial section end */
  /* __________________ */

  /* footer sec start */
  .footer_part{
    background: #555555;
    color: #fff;
    /* font-family: var(--oswald); */
  }
  /* footer sec end */
  /* __________________ */
