*{
    margin: 0;padding: 0;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
.manu_part{
    background-color: rgba(250, 235, 225, 0.6);
    width: 15%;
    left: 10px;
    z-index: 10;
    position: sticky;
    top: 0;
    /* display: inline-block; */
    float: left;
}
.para{
    float: left;
    /* display: inline-block; */
    width: 80%;
}
.logo{
    display: block;
    text-align: center;

}
.clean{
    clear: both;
}
.menu li {
    position: relative;
    border-top: 4px solid white;
    text-align: center;
}
.menu li a {
    display: block;
    padding: 15px;
    font-size: 18px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight:500;
}
.menu li a:hover{
    background-color: blueviolet;
    color: burlywood;
    color:whitesmoke;
}
.drop_menu {
    background-color: aqua;
    display: none;
}
.menu li:hover .drop_menu{
    display: block;
    left:100%;
    top: 0;
    position: absolute;
    z-index: 9;
    width: 100%;
    text-align: center;
    background: rgba(229, 240, 229, 0.3);
}