*{
margin: 0;
padding: 0;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}

.manu_part{
    background-color: rgba(250, 235, 225, 0.6);
    /* position: fixed; */
    top: 0;
    width: 100%;
}
.alignment{
    width: 80%;
    margin: auto;

}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu{
    display: flex;
    /* gap: 10px; */
}
.menu li, .drop_menu li{
    position: relative;
}
.menu li a {
    display: block;
    padding: 15px;
    font-size: 18px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight:450;
}

.menu li a:hover{
    background-color: blueviolet;
    color: burlywood;
}
.drop_menu {
    background-color: aqua;
    display: none;
}
.menu li:hover .drop_menu{
    display: block;
    position: absolute;
    z-index: 2;
    width: 100%;
    text-align: center;
    background: rgba(229, 240, 229, 0.3);
}
.sub_menu{
    display: none;
    background-color: brown;
}
.drop_menu li:hover .sub_menu{
    display: block;
    position: absolute;
    z-index: 1;
    background: rgba(106, 245, 106, 0.3);
    left: 100%;
    top: 0px;
    width: 150%;
    height: 50px;
}
.sub_menu li a:hover{
    background-color: red;
}
.para{
    display: inline-block;
}